%main.masthead
  .container
    .row.text-center
      .col-lg-12
        %h1= "#{Rails.application.class.parent_name} Splash Page"
          
    .row
      .col-lg-6.col-lg-offset-3
        = form_tag splash_signup_path, role: :form, :class=>'form-horizontal', :remote=>true do
          .form-group
            = text_field_tag :test, '',  :class=>'form-control', :placeholder=>'Email address'
          .form-group.text-center
            = submit_tag 'Submit', :class=>'btn btn-primary'

.container
  .row
    .col-lg-8.col-lg-offset-2
      %h1.text-center Thanks for planting this seed!

      %p.lead.text-center Lots of great things just happened! You're not done though. Please follow the instructions below to get this project off to a good start!

      %section
        %h2 Environments
        %p Please set up as many accounts as are necessary for all external services. That usually means development, staging, and production accounts.

        %h4 Development
        %p Place all configuration variables in <code>.env</code>, as in:

        :ruby
          code = <<-CODE
          # .env:
          S3_BUCKET_NAME=development-bucket-name
          AWS_ACCESS_KEY_ID=<development key>
          AWS_SECRET_ACCESS_KEY=<development key>
          CODE
        %pre~ code

        %p There should not be any sensitive information in this file, so it is committed to the repo.


        %h4 Staging
        %p If you're using Heroku, all config variables should be set using `heroku config`, as in:

        %pre $ heroku config:add -a your-app-stage S3_BUCKET_NAME=assets.your-app-stage.herokuapp.com

        %p If you're not using Heroku, you should still be using environment variables for <strong>all</strong> config!

        
        %h4 Production
        %p Same thing. Use environment variables!

        %pre $ heroku config:add -a your-app S3_BUCKET_NAME=assets.your-app.com

      %section
        %h2 Google Analytics Setup

        %p All you have to do is set the <code>GOOGLE_ANALYTICS_SITE_ID</code> environment variable for each environment and you're done! Create the accounts and do it now!
  
  
      %section
        %h2 AWS Setup

        %p Start by setting the keys in the <code>.env</code> file if your project uses AWS/S3. Fun fact: If you call your variables <code>AWS_ACCESS_KEY_ID</code> and <code>AWS_SECRET_ACCESS_KEY</code>, the <code>aws-sdk</code> gem finds them and configures itself automatically!
  
        %p You should ensure that <strong>the client owns their own AWS account</strong>. That means:
        %ol
          %li The client sets up their account if they don't currently have one
          %li The client sends you credentials
          %li You use AWS Identity and Access Management (IAM) to set up developer accounts and an AWS login page.
          %li The client changes their login password, if desired.
          %li Set up buckets with restricted access keys for all necessary environments. See the Codex <a href="http://codex.happyfuncorp.com/slides/11#1" target="_blank">AWS Setup and Security</a> presentation for a walkthrough and links to the relevant resources.

        Most importantly, ensure that the project <strong>does not end up on the HFC AWS account</strong>.

      %section
        %h2 Bootstrap
        %p Bootstrap is really great! The current version is IE8 compatible. That's worth a lot. It's customizable via Sass and all the footwork is done for you! You just have to edit <code>application/variables.css.scss</code>.
        %p Here's a summary of the CSS setup:
        %dl
          %dt
            %code application/index.css.scss:
          %dd
            %p The CSS entry point that imports all the other css. Variables are shared among any files imported here.

          %dt
            %code application/variables.css.scss:
          %dd
            %p
              A list of custom Sass varialbes accessible to anything imported by in `index.css.scss`. This is where you should puts Bootstrap customizations. You can find a full list of Bootstrap variables at:
              = link_to 'Customize Bootstrap', 'http://getbootstrap.com/customize/', :target=>:_blank

          %dt
            %code application/layout.css.scss:
          %dd
            %p Your custom CSS goes here!

          %dt
            %code application/media_queries.css.scss:
          %dd
            %p
              %span This is where any extra media queries you need should be place. Note that you have access to
              %span= link_to "Bootstrap's media query helpers"
              %span> . Use them!

      %section
        %h2 Other things this template adds

        %h4 HTML5 Boilerplate

        %p HTML5 Boilerplate includes things every project should have like normalize.css, Modernizr, Compass, and a placeholder polyfill for IE. It does some heavy reorganization of your application layout, but it's for the best! Go with it!
        %p
          &rarr; Read more about
          = link_to 'HTML5 Boilerplate', 'http://html5boilerplate.com/', :target=>:_blank



        %h4 This splash page
        %code= '/app/views/splash/index.html.haml'

      %section
        %h2 Improvements?

        %p If you have bug reports or ideas about how this template can be improved, please suggest them on the <a href="https://github.com/sublimeguile/seed/issues" target="_blank">Github issues page</a>! Thanks!

